<%- include('partials/header', {title: "Landing"}) %>
  <h1>User Dashboard</h1>
  <h2>Welcome, <%= username %></h2>

  <div class="dashboard-content">
    <h3>What have you been upto? You:</h3>
    <ul>
      <li>Logged in</li>
      <li>Haven't logged out yet</li>
      <li>Continue to read this list</li>
      <li>Please leave.</li>
    </ul>

    <form action="/logout" method="post">
      <button type="submit">Logout</button>
    </form>
  </div>
<%- include('partials/footer') %>